extends layout

block head
<meta property="og:title" content="Facebook App"/>
<meta property="og:url" content="http://www.completethesentence.com/facebook/"/>

block content
	h1= title
	p Welcome to my #{title}

	#fb_root
	
	#content
		.loggedoff
			p Please login to get started.
			fb:login-button(show-faces="true" width="200" max-rows="1")
		.loggedin
			#social
				p Invite Friends!
			#console
				a(class='button', href="/game")Start Game
			
block scripts
	script(src='/js/views/facebook.js')
	