extends layout

block head
<meta property="og:title" content="Main Page"/>
<meta property="og:url" content="http://www.completethesentence.com"/>

block content
	h1= title
	p Welcome to the #{title}.

	#description
		p Here we'll describe the app and let you know how to get started.  
		p For now check out this | a(href='/facebook') page

	#display_name
		ul#user_list
			li#user_id
	#chatroom
		ul#chat_log
			li#chat_li
	#inputbox
		input#chat_box(type='text' name='chat_box' value='' placeholder='type to chat...')

block scripts
	script(src='/js/views/index.js')