extends layout

block head
<meta property="og:title" content="Main Page"/>
<meta property="og:url" content="http://www.completethesentence.com"/>

block content
	h1= title
	p Welcome to the #{title}.

	#description
		p Here we'll describe the app and let you know how to get started.  
		p For now check out this 
		a(class="button", href="/facebook") Awesome page

block scripts
	script(src='/js/views/index.js')