/* Small devices (tablets, 768px and up) */
@media (min-width: @640px) { 

	body{
		background-image: url(https://i.imgur.com/Da7poh6.png);
	}

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @900px) { 

	body{
		background-image: url(https://i.imgur.com/b5AurLp.png);
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @1200px) { 

	body{
		background-image: url(https://i.imgur.com/gH28NXx.png);
	}
}


body{
		background-image: url(https://i.imgur.com/cyFwgpL.png);
}

div#play{
	padding-top: 70px;
}

div#fblogin{
	padding-top: 80px;
	text-align: center;
}

ul#gamelist{
	padding-left: 0px;
}

div#games_yours{
	border-width: 5px;
	border: solid 1c5f60;
	border-radius: 10px 10px 10px 10px;
	margin-bottom: 10px;
}

div#games_theirs{
	border: solid 1c5f60;
	border-width: 5px;
	border-radius: 10px 10px 10px 10px;
}

div#points{
	border: solid 1c5f60;
	border-width: 5px;
	border-radius: 10px 10px 10px 10px;
	background-color: 1c5f60;
	color: white;
}

.alignleft {
	float: left;
}
.alignright {
	float: right;
}

#top_point{
	margin-top: 10px;
	margin-bottom: 0px;
}

#mid_point{
	margin-top: 2px;
	margin-bottom: 2px;
}

#btm_point{
	margin-top: 0px;
	margin-bottom: 10px;
}


div#inGame {
	text-align: left; 
}

div#gameover{
	padding-top: 40px;
	text-align: center;
}

button#deleteGame{
	padding-top: 10px;
}

div#fb_btn{
	margin-top: 10px;
	margin-left: 2px;
	margin-right: 2px;
	margin-bottom: 10px;
}

div#top {
	margin-top: 70px;
	text-align: center;
}

div#sentence{
	border: ridge white;
	border-radius: 10px 10px 10px 10px;
	border-width: 3px;
	background-color: white;  
	text-align: left;
	margin: 60px 20px 30px;
	vertical-align: text-center;
	padding: 20px 10px;
}

div#endsentence{
	border: ridge c7c6eb;
	border-radius: 10px 10px 10px 10px;
	border-width: 3px;
	background-color: c7c6eb;  
	text-align: left;
	margin: 30px 20px 30px;
	vertical-align: text-center;
	padding: 20px 10px;
}

div#footer{
	border: none;
	border-radius: 10px 10px 10px 10px;
	background: rgba(225, 225, 225, .8);
	margin-top: 140px;
}

div#contact{
	padding-top: 10px;
}

div#sample{
	text-align: center;
}

div#intro{
	text-align: center;
	padding-bottom: 20px;
}

div#rules{
	text-align: justify;
}

li#player_name{
	list-style-type: none;
	margin-bottom: 5px;
}

.loggedoff {
	display: block;
	text-align: center;
}

.loggedin {
	display: none;
	text-align: center;
}
.btn{
	padding-top: 3px;
}

div#top_btn{
	margin-bottom: 10px;
}

div#input{
	display: block;
	margin-bottom: 20px;
}

ul.list{
	border: 1px solid blue;
}

li.listitem{
	text-align: center;
	color: yellow;
}

div#msg {
	border: 1px solid red;
}

div#chatroom {
	display: block;
	height: 200px;
	border: 1px solid #999;
	border-radius: 10px;
	overflow: auto;
	width: 100%;
	margin-bottom: 10px;
	position: relative;
}

div#display_name {
	background-color: #FFFF33;
	height: 50px;
	border: 1px solid #000;
	border-radius: 10px;
	border-bottom: 0px;
	width: 100%;
	padding-top: 0px;
	margin-bottom: 10px;
	position: relative;
}

div#user_list {
	display: inline;
	list-style: none;
}

div#user_id {
	display: inline;
}

div#chat_log {
	list-style: none;
	position: absolute;
	bottom: 0px;
	display: inline;
}

li#chat_li {
	display: inline;
}

li#show{
	display: inline;
}

input#chat_box {
	width: 99%;
}

div#inputbox {
	width: 99%;
	height: 30%;
}