/* Small devices (tablets, 768px and up) */
@media screen (min-width: 146px) and (max-width: 990px) { 

	#ng_words{
		display: none;
	}

	div#mfs{ 
		max-height:200px; 
		position: relative;
		text-align: left;
	}

	div#mfsContainer{
		max-height:200px; 
		max-width:800px; 
		overflow: auto;
		overflow-x: hidden;
		position: relative;
	}

	.cards{
		display: inline;
		border: 1px solid white;
		border-radius: 4px;
		margin: 5px;
		height: 110px;
		cursor: pointer;
	}

}

/* Medium devices (desktops, 992px and up) */
@media screen and (min-width: 900px) and (max-width: 1199px){ 
	#ng_words{
		padding-top: 20px;
		height: 150px;
	}

	div#mfs{ 
		position: relative;
		margin: 10px 10px 10px 10px;
		text-align: left;
		columns:100px 2;
		-webkit-columns:100px 2; /* Safari and Chrome */
		-moz-columns:100px 2; /* Firefox */
	}

	div#mfsContainer{
		max-height:200px; 
		max-width:800px; 
		overflow: auto;
		overflow-x: hidden;
		position: relative;
	}

	.cards{
		display: inline;
		border: 1px solid white;
		border-radius: 10px;
		margin: 5px;
		height: 200px;
		cursor: pointer;
	}

}

/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) { 
	div#mfs{ 
		position: relative;
		margin: 10px 10px 10px 10px;
		text-align: left;
		columns:100px 2;
		-webkit-columns:100px 2; /* Safari and Chrome */
		-moz-columns:100px 2; /* Firefox */
	}

	div#mfsContainer{
		max-height:200px; 
		max-width:800px;
		overflow: auto;
		overflow-x: hidden;
		position: relative;
	}

	.cards{
		display: inline;
		border: 1px solid white;
		border-radius: 10px;
		margin: 10px;
		height: 200px;
		cursor: pointer;
	}

} 

#mfsContainer::-webkit-scrollbar { 
    display: none; 
}

.media:nth-child(even){	
	background-color: #FFC858;
	color: #359999;
}

#startbtn:hover {
	color: white;
}

.darkOrangeTop{
	background-color: #FFA358;
	color: white;
	text-align: center;
	border-top: 1px solid white;
    border-radius: 5px 70px 0 0;
}

.lightOrange{
	text-align:center;
	background-color: #FFC858;
	color: #359999;
	cursor: pointer;
}

.darkBlue{
	background-color: #658DF3;
	color: white;
}

.lightBlue{
	background-color: #53F1F1;
	color: #0447F1;
}

#startFib{
	background-color: #53F1F1;
	color: #0447F1; 
}

.logoFont{
	font-family: 'Simonetta', cursive;
}

#topnav{
	background-color: white;
	text-align: center;
}

#onlinebtn{
	background-color: #658DF3;
	color: white;
}

#livebtn{
	background-color: #53F1F1;
	color: #0447F1;
}

input.transparent-input{
   background-color: transparent !important;
   border: none !important;
}

#timerInfo{
	height: 200px;
	padding-top: 10px;
	border: 1px solid white;
	border-radius: 10px;
}

.turn{
	background-color: yellow;
}

#cardList{
	list-style: none;
}

#cbtop{
	padding: 25px 20px 25px 20px;
	border-radius: 10px 10px 0 0;
	border-top: 3px solid #034BF1;
	border-right: 3px solid #034BF1;
	border-left: 3px solid #034BF1;
	cursor: pointer;
}

#cbbottom{
	padding: 25px 20px 25px 20px;
	border-radius: 0 0 10px 10px;
	border-bottom: 3px solid #034BF1;
	border-right: 3px solid #034BF1;
	border-left: 3px solid #034BF1;
	cursor: pointer;
}

#action{
	padding-left: 0px;
	margin-bottom: 15px;
	width: 583px;
	margin-left: 160px;
}

#sharing{
	margin: 10px 0px 10px 0px;
}

.complete{
	background-color: gray;
	text-decoration: yellow;
}

#result{
	height: 200px;
	border-radius: 4px;
	background-color: purple;
	text-align: center;
	color: white;
}

#story{
	border-top: 1px solid white;
	border-left: 1px solid white;
	border-right: 1px solid white;
	border-radius: 5ps;
}

#storyText{
	margin: 10px 0px 10px 0px;
	border-top: 1px solid white;
	border-radius: 5px;
	padding-top: 10px;
	text-align: center;
}

#textArea{
	padding: 0px 0px 10px 0px;
	border-bottom: 1px solid white;
	border-radius: 5px;	
}

#input{
	margin: 0px 0px 0px 0px;
	vertical-align: baseline;
}

#cardTitle{
	cursor: pointer;
}

#cardBody{
	border: 1px solid white;
	border-radius: 10px;
	margin-top: 10px;
	text-align: center;
}

#home{
	cursor: pointer;
}

#query{
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

#players{
	display: inline;
	margin: 7px;
	list-style: none;
}

#addPlayer{
	cursor: pointer;
}

.top_gv{
	text-align: center;
}

.qtitle, .select{
	padding: 0;
	margin: 0;
	cursor: pointer;
}

a#fb_pic{
	margin-left: 70px;
	margin-right: 50px;

}

div.media{
	overflow: hidden;
    white-space: nowrap;
    padding: 10px 0 10px 0;
    margin: 0;
    cursor: pointer;
    border: 1px solid #FFC858;
    border-radius: 10px;
}


div#progress_bar{
	margin-bottom: 10px;
}

div#fblogin{
	padding-top: 80px;
	text-align: center;
}

ul#gamelist{
	padding-left: 0px;
}

#games_yours{
	background-color: #658DF3;
	color: white;
}

#games_other{
	background-color: #53F1F1;
	color: #0447F1; 
}

div#points{
	border: solid 1c5f60;
	border-width: 5px;
	border-radius: 10px 10px 10px 10px;
	background-color: 1c5f60;
	color: white;
}

.alignleft {
	float: left;
}
.alignright {
	float: right;
}

#top_point{
	margin-top: 10px;
	margin-bottom: 0px;
}

#mid_point{
	margin-top: 2px;
	margin-bottom: 2px;
}

#btm_point{
	margin-top: 0px;
	margin-bottom: 10px;
}


div#inGame {
	text-align: left; 
}

div#gameover{
	padding-top: 40px;
	text-align: center;
}

button#deleteGame{
	padding-top: 10px;
}

div#fb_btn{
	margin-top: 10px;
	margin-left: 2px;
	margin-right: 2px;
	margin-bottom: 10px;
}

div#top {
	margin-top: 70px;
	text-align: center;
}

div#sentence{
	border: ridge white;
	border-radius: 10px 10px 10px 10px;
	border-width: 3px;
	background-color: white;  
	text-align: left;
	margin: 60px 20px 30px;
	vertical-align: text-center;
	padding: 20px 10px;
}

div#endsentence{
	border: ridge c7c6eb;
	border-radius: 10px 10px 10px 10px;
	border-width: 3px;
	background-color: c7c6eb;  
	text-align: left;
	margin: 30px 20px 30px;
	vertical-align: text-center;
	padding: 20px 10px;
}

div#footer{
	border: none;
	border-radius: 10px 10px 10px 10px;
	background: rgba(225, 225, 225, .8);
	margin-top: 140px;
}

div#contact{
	padding-top: 10px;
}

div#sample{
	text-align: center;
}

div#intro{
	text-align: center;
	padding-bottom: 20px;
}

div#rules{
	text-align: justify;
}

#sendInvite:hover {
	background-color: #658DF3;
	color: white;
}
#sendInvite{
	padding-top: 10px;
}

li#player_name:hover a { 
	color: white; 
	text-decoration: none;
}
a#indGame {
  color: #034BF1;
}

#notTurn{
	background-color: #9FB9F6;
	color: 	#CCCCFF;
	list-style-type: none;
	text-align: center;
	padding: 5px 0 5px 0;
}

li#player_name:nth-child(even){
	cursor: pointer;
	list-style-type: none;
	text-align: center;
	padding: 5px 0 5px 0;
	background-color: #53F1F1;
	color: #0447F1;
}

li#player_name:nth-child(odd){
	cursor: pointer;
	list-style-type: none;
	text-align: center;
	padding: 5px 0 5px 0;
	background-color: #658DF3;
	color: white;
}

.loggedoff {
	display: block;
	text-align: center;
}

.loggedin {
	display: none;
	text-align: center;
}
.btn{
	padding-top: 3px;
}

#top_btn{
	margin-bottom: 10px;
}

div#input{
	display: block;
	margin-bottom: 20px;
}

ul.list{
	border: 1px solid blue;
}

li.listitem{
	text-align: center;
	color: yellow;
}

div#msg {
	border: 1px solid red;
}

div#chatroom {
	display: block;
	height: 200px;
	border: 1px solid #999;
	border-radius: 10px;
	overflow: auto;
	width: 100%;
	margin-bottom: 10px;
	position: relative;
}

div#display_name {
	background-color: #FFFF33;
	height: 50px;
	border: 1px solid #000;
	border-radius: 10px;
	border-bottom: 0px;
	width: 100%;
	padding-top: 0px;
	margin-bottom: 10px;
	position: relative;
}

div#user_list {
	display: inline;
	list-style: none;
}

div#user_id {
	display: inline;
}

div#chat_log {
	list-style: none;
	position: absolute;
	bottom: 0px;
	display: inline;
}

li#chat_li {
	display: inline;
}

li#show{
	display: inline;
}

input#chat_box {
	width: 99%;
}

div#inputbox {
	width: 99%;
	height: 30%;
}