
div#fblogin{
	padding-top: 80px;
	text-align: center;
}

div#inGame {
	text-align: left;
}

div#main {
	padding-top: 90px;
	text-align: center;
}

div#not_joined {
	display: block;
}

div#joined {
	display: none;
}


.loggedoff {
	display: block;
	text-align: center;
}

.loggedin {
	display: none;
	text-align: center;
}

ul.list{
	border: 1px solid blue;
}

li.listitem{
	text-align: center;
	color: yellow;
}

div#msg {
	border: 1px solid red;
}

div#chatroom {
	display: block;
	height: 200px;
	border: 1px solid #999;
	border-radius: 10px;
	overflow: auto;
	width: 100%;
	margin-bottom: 10px;
	position: relative;
}

div#display_name {
	background-color: #FFFF33;
	height: 50px;
	border: 1px solid #000;
	border-radius: 10px;
	border-bottom: 0px;
	width: 100%;
	padding-top: 0px;
	margin-bottom: 10px;
	position: relative;
}

div#user_list {
	display: inline;
	list-style: none;
}

div#user_id {
	display: inline;
}

div#chat_log {
	list-style: none;
	position: absolute;
	bottom: 0px;
	display: inline;
}

li#chat_li {
	display: inline;
}

input#chat_box {
	width: 99%;
}

div#inputbox {
	width: 99%;
	height: 30%;
}
